<form>
  <div></div>
  <div class="row">
    <div class="form-group col-md-4">
      <label>{{ listLabel }}</label>
      <div>
        <select multiple class="form-control" style="height:215px;" name="items" [(ngModel)]="selectedItems">
          <option *ngFor="let item of items" >{{item.description()}}</option>
        </select>
      </div>
    </div>
    <ng-container *ngIf="showButtons">
      <div class="form-group col-md-1" style="margin-top: 8%;">
          <label>&nbsp;</label>
          <button class="btn btn-default" (click)="addSelectedItems($event)"><i class="fa fa-arrow-right"></i></button>
          <br>
          <div class="clearfix">&nbsp;</div>
          <label>&nbsp;</label>
        <button class="btn btn-default" (click)="removeSelectedItems($event)"><i class="fa fa-arrow-left"></i></button>
      </div>
    </ng-container>

    <div class="form-group col-md-4">
      <label>{{ selectedLabel }}</label>
      <div>
        <select multiple class="form-control" style="height: 215px;" name="selectdItems" [(ngModel)]="selectedItemsSelected">
          <option *ngFor="let selectedItem of itemsSelected" >{{selectedItem.description()}}</option>
        </select>
      </div>
    </div>
  </div>
</form>
